# Archivos alpha 
app_joel.py
app_venta_funcional.py
app.py
app2.py
appsalva.py
backup_2.py
backup_4.py
backup.py
backup3.py
backup5.py
backup6.py
psicosis.py
redencion.py
revisar.py
VERSION_MAS_ESTABLE.py
HTML_PRUEBA/