<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compra skins</title>
</head>
<body>
    <section>
        <form action="/comprar-skin" method="POST">
            <div>
                <label for="seller_uid">seller </label>
                <input type="text" name="seller_uid" id="seller_uid"/>
            </div>
            <div>
                <label for="skin_on_sale">skin </label>
                <input type="text" name="skin_on_sale" id="skin_on_sale"/>
            </div>
            <div>
                <label for="precio">precio </label>
                <input type="number" name="precio" id="precio"/>
            </div>
            <div>
                <input type="submit" id="submitFormButton" value="Create">
            </div>
        </form>
    </section>
</body>
</html>