<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Post Register</h1>
    <section>
        <form action="/create-PostVenta" method="POST">
            <div>
                <label for="title">Titulo</label>
                <input type="text" id="title"  name="title">
            </div>
            <div>
                <label for="nombre">nombre</label>
                <input type="text" id="nombre"  name="nombre">
            </div>
            <div>
                <label for="campeon">campeon</label>
                <input type="text" id="campeon"  name="campeon">
            </div>     
            <div>
                <label for="skin_id">skin_id</label>
                <input type="text" id="skin_id"  name="skin_id">
            </div>
            <div>
                <label for="precio">precio</label>
                <input type="int" id="precio"  name="precio">
            </div>            
            <input type="submit" value="submit"/>       
        </form> 
    </section>
</body>
</html>