{% extends "base.html"%}

{%block title%} Register {%endblock%}

{% block body %}
<h1  class = "skinloot" class="text-center">Register</h1>
<div class="form-container">
    <form action="/register-user" method="POST" class="registration-form">
        <div class="form-group">
            <label for="nickname">Nickname:</label>
            <input type="text" id="nickname" name="nickname" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="e_mail">Email:</label>
            <input type="email" id="e_mail" name="e_mail" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="password">Password:</label>
            <input type="text" id="password" name="password" class="form-control" required>
        </div>
        <input type="submit" value="Submit" class="btn btn-primary" class = "submit" onclick="redirect(0)">
    </form>
    <script>
        function redirect(index){
        if(index === 0){
          window.location.href = "http://127.0.0.1:5000/market";
        }
    }
    </script>
</div>
{% endblock %}

<!-- {{ url_for('register') }} -->