{% extends "base2.html"%}
{%block title%} Skin Register {%endblock%}
{%block stile%} {%endblock%}
{%block body%}
<section>
    <form action="/register-skin" method="POST">
        <div>
            <label for="name">Name</label>
            <select id="name" name="name">
                <option value="Gragas_camorrista">Camorrista_G</option>
                <option value="gragas_shrek">Shrek_G</option>
                <option value="cosmico">Cosmico_J</option>
                <option value="virtuoso">virtuoso_J</option>
            </select>
        </div>
        <div>
            <label for="champion_name">Champion Name</label>
            <select id="champion_name" name="champion_name">
                <option value="Gragas">Gragas</option>
                <option value="jhin">Jhin</option>
            </select>
        </div>
        <div>
            <label for="rarity">Rarity</label>
            <input type="text" id="rarity" name="rarity">
        </div>     
        <input type="submit" value="Submit" onclick="index(0)">       
    </form>
    <script>
        function index(ga){
            if(ga === 0){
                Window.location.href="http://127.0.0.1:5000/market"
            }
        }
        </script>
</section>

{%endblock%}