{% extends "base2.html"%}
{%block title%}Configuración de Usuario{%endblock%}

{% block stile %}
<style>
    .container {
        margin-top: 50px;
    }

    .button {
        margin-top: 10px;
    }

    .form-control {
        border-radius: 10px;
    }
</style>
{% endblock %}

{% block body %}
<div class="container">
    <h1>Configuración de Usuario</h1>
    <form>
        <div class="mb-3">
            <label for="username" class="form-label">Cambiar Nombre de Usuario</label>
            <input type="text" class="form-control" id="username" placeholder="Nuevo Nombre de Usuario">
        </div>
        <div class="mb-3">
            <label for="profile-picture" class="form-label">Cambiar Foto de Perfil</label>
            <input type="file" class="form-control" id="profile-picture">
        </div>
        <div class="mb-3">
            <label for="balance" class="form-label">Añadir Saldo</label>
            <input type="number" class="form-control" id="balance" placeholder="Cantidad de Saldo">
        </div>
        <button type="submit" class="btn btn-primary button">Guardar Cambios</button>
        <a href="/logout" id="logout-link">Cerrar sesión</a>
    </form>
    <button class="btn btn-secondary button">Ver Skins</button>
    <button class="btn btn-secondary button">Agregar Skins</button>
    <script>
        $(document).ready(function() {
      $('#logout-link').click(function(e) {
        e.preventDefault(); // Evita la acción predeterminada del enlace

        // Realiza una solicitud GET a la ruta de cierre de sesión
        $.get('/logout', function(response) {
          window.location.href = '/'; // Redirige al usuario a la página principal
        });
      });
    });
    </script>
</div>
{% endblock %}